@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;1,700&display=swap");

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  font-family: "DM Sans", sans-serif;
}

.container {
  padding: 10px 40px 40px 40px;
  background-color: rgb(224, 224, 224);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 15px;
}

header {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

header img {
  height: 50px;
}

.order {
  display: flex;
  align-items: center;
}

.arrow {
  position: absolute;
  right: 2px;
}

.arrow p {
  font-size: 20px;
}

input::placeholder {
  text-align: center;
  background-image: "./Imagenes/Recursos/lupa.png";
}

.container h1 {
  font-size: 52px;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* MODAL */

.modal {
  overflow-y: hidden;
  box-sizing: border-box;
  height: 100vh;
  width: 80vw;
}
.newPokemon input {
  height: 30px;
  margin: 0 auto;
}

.newPokemon div p {
  margin: 5px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bolder;
}

/* GRID DEL MODAL */

.newPokemon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-template-areas:
    "id description"
    "name hp"
    "url atk"
    "type1 def"
    "type2 satk"
    "weightInput sdef"
    "heightInput spd"
    "move1 primaryColor"
    "move2 secondaryColor"
    "saveButton saveButton";
}

.id {
  grid-area: id;
}
.name {
  grid-area: name;
}

.url {
  grid-area: url;
}

.description {
  grid-area: description;
}

.hp {
  grid-area: hp;
}

.atk {
  grid-area: atk;
}
.type1 {
  grid-area: type1;
}
.type2 {
  grid-area: type2;
}

.def {
  grid-area: def;
}

.atk {
  grid-area: atk;
}

.weightInput {
  grid-area: weightInput;
}

.heightInput {
  grid-area: heightInput;
}

.sdef {
  grid-area: sdef;
}

.spd {
  grid-area: spd;
}
.move1 {
  grid-area: move1;
}

.move2 {
  grid-area: move2;
}

.primaryColor {
  grid-area: primaryColor;
}

.secondaryColor {
  grid-area: secondaryColor;
}

.saveButton {
  grid-area: saveButton;
  margin: 0 auto;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(172, 165, 165);
  color: black;
  font-size: 20px;
}

.modalTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  font-size: 20px;
  width: 80px;
  border-radius: 20px;
  background-color: rgb(224, 88, 88);
}
